extends layout

block content
  nav(class='paint')
    div(class='nav-wrapper')
      a(href='/' class='brand-logo')= title

  .container
    .row
    .row
      .col.s4.center
        a(class='btn-floating btn-large waves-effect waves-light red lighten-3 disabled' id='removeRed')
          i(class='material-icons') remove
        a(class='btn-floating btn-large waves-effect waves-light red' id='addRed')
          i(class='material-icons') add
        p#totalRed 0
      .col.s4.center
        a(class='btn-floating btn-large waves-effect waves-light yellow lighten-2 disabled' id='removeYellow')
          i(class='material-icons') remove
        a(class='btn-floating btn-large waves-effect waves-light yellow darken-1' id='addYellow')
          i(class='material-icons') add
        p#totalYellow 0
      .col.s4.center
        a(class='btn-floating btn-large waves-effect waves-light blue lighten-1 disabled' id='removeBlue')
          i(class='material-icons') remove
        a(class='btn-floating btn-large waves-effect waves-light blue darken-3' id='addBlue')
          i(class='material-icons') add
        p#totalBlue 0
