extends layout

block content
  nav(class='paint')
    div(class='nav-wrapper')
      a(href='/' class='brand-logo')= title

  .container
    .row
    .row
      .col.s4.center
        a(class='btn-floating btn-large waves-effect waves-light red lighten-3')
          i(class='material-icons') remove
        a(class='btn-floating btn-large waves-effect waves-light red')
          i(class='material-icons') add
        p 0
      .col.s4.center
        a(class='btn-floating btn-large waves-effect waves-light yellow lighten-2')
          i(class='material-icons') remove
        a(class='btn-floating btn-large waves-effect waves-light yellow darken-1')
          i(class='material-icons') add
        p 0
      .col.s4.center
        a(class='btn-floating btn-large waves-effect waves-light blue lighten-1')
          i(class='material-icons') remove
        a(class='btn-floating btn-large waves-effect waves-light blue darken-3')
          i(class='material-icons') add
        p 0
